@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
}
.header{
    padding:2%;
    margin:15px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right:135px;
}
.logo{
    width:20px;
    height:20px;
    font-family: 'Rubik', sans-serif;
color: rgb(35, 35, 207);
font-weight: 1200;
display: flex; 
align-items: center;
}

.img{
    height:28px;
    width:28px;
    margin-left:100px;
    position: absolute;
    margin-top: 0;
    
}
.top{
    text-align: center;
    font-weight: lighter;
    margin-bottom: 12px;
}

.main{
    border:none;
    border-radius: 10px;
    width:300px;
    margin:0 auto;
    padding:1rem;
    padding-right:2.5rem;
    box-shadow: 0 2px 10px 2px rgb(233, 233, 233);
    font-size: 12px;
}

#email{
    width:100%;
padding:5px;
margin-top:5px;
}
#password{
    width:100%;
    padding:5px;
    margin-top: 5px;
}
/* .main h1{
    font-size:1rem;
    margin-bottom: 3px;
}
.main p{
    font-weight:500;
    font-size: small;
}
.input{
    margin-top: 1rem;
    border: 1px solid black;
    padding:10px;
    border-radius:3px;
    width:100%;
    outline: none;
}
.pass-section{
    display: flex;
   border: 1px solid black;
   width:100%;
   margin-top: 1rem;
   padding:10px;
   padding-right: 8px;
   /* position: relative; */
/* border-radius:3px;
}
.pass{
    border: none;
    width:100%;
    outline: none;
}
.show{
    color:rgb(10, 10, 213);
    position:absolute; 
    cursor: pointer;
}
.show:hover{
    color:rgb(3, 3, 160);
}
.forgot{
    color:rgb(10, 10, 213);
    margin-top: 0.5rem;
    cursor: pointer;
}
.forgot:hover{
    color:rgb(3, 3, 160);
}*/
.sign-button{
    background: none;
    border:none;
    width:100%;
    padding:1rem;
    margin-top:0.5rem;
    border-radius: 5rem;
    background-color:rgb(111, 111, 249) ;
    color: white;
    cursor: pointer;
    margin-left:10px;
    margin-bottom: 10px;
}
.sign-button:hover{
    background-color:rgb(3, 3, 160);
}
.or-section{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 4.5px;
    margin-left:12px;
}
.line{
    height:0.5px;
    width:38%;
    background-color:black;

}
.google{
    display: flex;
    background: none;
    border:1.4px solid blue;
    width:100%;
    padding:0.7rem;
    margin-top:20px;
    border-radius: 5rem;
    color: blue;
    cursor: pointer;
    margin-left:10px;
    justify-content: center;
    align-items: center;
    
}
.google:hover{
    border:1.4px solid grey;
    color:grey;
}
.google-img{
    width:16px;
    height:16px;
    margin-right: 5px;
}
.join{
    text-decoration: none;
    color:blue;
}
.join:hover{
    color:rgb(3, 3, 160);
    text-decoration: underline;
}
.sign{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top:20px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
} 
.blue{
    color:blue;

}
.middle-text{
    font-size: smaller;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 20px;
}
